# [Objective](#dates-and-times) Work with Dates and Times with Pandas

## Overview

Pandas has its own datetime data type that makes it extremely convenient to convert strings from standard date formats to datetime objects. You can then use those datetime objects to either create new features on a dataframe or work with those features as a time series. 

This section will demonstrate how to take a column of date strings, convert it to a datetime object and then use the datetime formatting `.dt` to access specific parts of the date (year, month, day) to generate useful columns in a dataframe.

## Follow Along

### Work with Dates 

pandas documentation
- [to_datetime](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.to_datetime.html)
- [Time/Date Components](https://pandas.pydata.org/pandas-docs/stable/timeseries.html#time-date-components) "You can access these properties via the `.dt` accessor"

We'll be working with the Loans dataset (which we will continue to use during the guided project).  To access the Loans dataset, run the next code block without changing anything:

In [1]:
import pandas as pd


loans_data = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/LendingClub/LoanStats_2018Q4_sm.csv'
loans = pd.read_csv(loans_data)

print(loans.shape)
loans.head()

(30000, 144)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,orig_projected_additional_accrued_interest,hardship_payoff_balance_amount,hardship_last_payment_amount,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,NaN,NaN,5525,5525,5525.0,36 months,10.72%,180.15,B,B2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,10000,10000,10000.0,36 months,10.08%,323.05,B,B1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,12000,12000,12000.0,60 months,10.08%,255.44,B,B1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,20000,20000,20000.0,36 months,6.46%,612.62,A,A1,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,12000,12000,12000.0,36 months,7.02%,370.64,A,A2,...,NaN,NaN,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN

For this warm-up assignment, we are going to determine the length of credit history for the individuals in the Loans dataset we just imported.

To do this, we are going to need two date values: `issue_d` and `earliest_cr_line`.

- Lets look at the string format of the `issue_d` column

In [2]:
#Print out the values in the column for issue_d
loans["issue_d"].head()

0    Dec-2018
1    Oct-2018
2    Oct-2018
3    Nov-2018
4    Dec-2018
Name: issue_d, dtype: object

<details>
<summary style="display:list-item">Answer </summary>
    
    loans['issue_d'].head()
    

</details>

In [3]:
#Print the first observation of issue_d using list indexing.
loans["issue_d"][0]

'Dec-2018'

<details>
<summary style="display:list-item">Answer </summary>
    
    loans['issue_d'][0]
    

</details>

#### Because this string format %m-%y is a common datetime format, we can just let Pandas detect this format and translate it to the appropriate datetime object.

- Now let's apply the pd.to_datetime function to `issue_d`.

In [4]:
#Print issue_d as a datetime value using
pd.to_datetime(loans["issue_d"])

0       2018-12-01
1       2018-10-01
2       2018-10-01
3       2018-11-01
4       2018-12-01
           ...
29995   2018-12-01
29996   2018-10-01
29997   2018-10-01
29998   2018-10-01
29999   2018-12-01
Name: issue_d, Length: 30000, dtype: datetime64[ns]

<details>
<summary style="display:list-item">Answer </summary>
     pd.to_datetime(loans['issue_d'])

</details>

<details>
<summary style="display:list-item">What do you notice about how Pandas handles the days of the month? </summary>
    Returns the first day of every month. 

</details>

- Assign the values of `issue_d` in the datetime format to a new column in `loans` called `issue_date`.

In [5]:
#Create issue_date column
loans["issue_date"] = pd.to_datetime(loans["issue_d"])
loans["issue_date"]

0       2018-12-01
1       2018-10-01
2       2018-10-01
3       2018-11-01
4       2018-12-01
           ...
29995   2018-12-01
29996   2018-10-01
29997   2018-10-01
29998   2018-10-01
29999   2018-12-01
Name: issue_date, Length: 30000, dtype: datetime64[ns]

<details>
<summary style="display:list-item">Answer </summary>
     loans['issue_date'] = pd.to_datetime(loans['issue_d'])

</details>

We can use the `.dt` accessor to now grab specific parts of the datetime object. Lets grab just the year from the all of the cells in the `issue_date` column

In [6]:
#Print only the year values from the issue_date column
loans["issue_date"].dt.year

0        2018
1        2018
2        2018
3        2018
4        2018
         ...
29995    2018
29996    2018
29997    2018
29998    2018
29999    2018
Name: issue_date, Length: 30000, dtype: int64

<details>
<summary style="display:list-item">Answer </summary>
     loans['issue_date'].dt.year

</details>

In [7]:
#Output only the month values from the issue_date column
loans["issue_date"].dt.month

0        12
1        10
2        10
3        11
4        12
         ..
29995    12
29996    10
29997    10
29998    10
29999    12
Name: issue_date, Length: 30000, dtype: int64

<details>
<summary style="display:list-item">Answer </summary>
     loans['issue_date'].dt.month

</details>

It's just that easy! Now, instead of printing them out, lets add these year and month values as new columns on our dataframe.  
- Name the year variable `issue_year` and the month variable `issue_month`. Again, you'll have to scroll all the way over to the right in the table to see the new columns.

In [16]:
#Create issue_year and issue_month columns
loans["issue_year"] = loans["issue_date"].dt.year
loans["issue_month"] = loans["issue_date"].dt.month
loans

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,issue_date,issue_year,issue_month
0,NaN,NaN,5525,5525,5525.0,36 months,10.72%,180.15,B,B2,...,N,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-01,2018,12
1,NaN,NaN,10000,10000,10000.0,36 months,10.08%,323.05,B,B1,...,N,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-01,2018,10
2,NaN,NaN,12000,12000,12000.0,60 months,10.08%,255.44,B,B1,...,N,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-01,2018,10
3,NaN,NaN,20000,20000,20000.0,36 months,6.46%,612.62,A,A1,...,N,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01,2018,11
4,NaN,NaN,12000,12000,12000.0,36 months,7.02%,370.64,A,A2,...,N,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-01,2018,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,NaN,NaN,20000,20000,20000.0,36 months,10.33%,648.45,B,B1,...,N,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-01,2018,12
29996,NaN,NaN,35000,35000,35000.0,60 months,6.11%,678.44,A,A1,...,N,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-01,2018,10
29997,NaN,NaN,10000,10000,9975.0,60 months,25.34%,295.51,E,E3,...,N,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-01,2018,10
29998,NaN,NaN,16000,16000,16000.0,60 months,7.84%,323.20,A,A4,...,N,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-01,2018,10
29999,NaN,NaN,6400,6400,6400.0,36 months,13.56%,217.38,C,C1,...,N,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-01,2018,12

<details>
<summary style="display:list-item">Answer </summary>
    issue_year = loans['issue_date'].dt.year
    <br>
    issue_month = loans['issue_date'].dt.month

</details>

- Now let's look at the `earliest_cr_line` column, which is also a string, but that could be converted to datetime format.

In [9]:
#Print the dates for the earliest_cr_line column 
loans['earliest_cr_line'].head()

0    Oct-1998
1    Sep-2015
2    Jun-2003
3    Feb-2005
4    Feb-2008
Name: earliest_cr_line, dtype: object

<details>
<summary style="display:list-item">Answer </summary>
     loans['earliest_cr_line'].head()

</details>

- Convert `earliest_cr_line` to a datetime format using pd.to_datetime and assign the result to the column `earliest_credit`.

In [21]:
#Create the earliest_credit column.
loans["earliest_credit"] = pd.to_datetime(loans["earliest_cr_line"])
loans

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,issue_date,issue_year,issue_month,earliest_credit
0,NaN,NaN,5525,5525,5525.0,36 months,10.72%,180.15,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-01,2018,12,1998-10-01
1,NaN,NaN,10000,10000,10000.0,36 months,10.08%,323.05,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-01,2018,10,2015-09-01
2,NaN,NaN,12000,12000,12000.0,60 months,10.08%,255.44,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-01,2018,10,2003-06-01
3,NaN,NaN,20000,20000,20000.0,36 months,6.46%,612.62,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-11-01,2018,11,2005-02-01
4,NaN,NaN,12000,12000,12000.0,36 months,7.02%,370.64,A,A2,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-01,2018,12,2008-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,NaN,NaN,20000,20000,20000.0,36 months,10.33%,648.45,B,B1,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-01,2018,12,2000-01-01
29996,NaN,NaN,35000,35000,35000.0,60 months,6.11%,678.44,A,A1,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-01,2018,10,1985-09-01
29997,NaN,NaN,10000,10000,9975.0,60 months,25.34%,295.51,E,E3,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-01,2018,10,2007-12-01
29998,NaN,NaN,16000,16000,16000.0,60 months,7.84%,323.20,A,A4,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-10-01,2018,10,2008-04-01
29999,NaN,NaN,6400,6400,6400.0,36 months,13.56%,217.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,2018-12-01,2018,12,1991-04-01

<details>
<summary style="display:list-item">Answer </summary>
     loans['earliest_credit'] = pd.to_datetime(loans['earliest_credit_line'])

</details>

- Determine the length of credit history in days by subtracting `earliest_credit` from `issue_date`.  Save the result as a column called `credit_length_days`. 

*Hint:* You will have to convert your results to intergers using `dt.days`

In [34]:
#Calculate the length of credit history in days. 
loans["credit_length_days"] = (loans["issue_date"] - loans["earliest_credit"]).dt.days
loans

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term,issue_date,issue_year,issue_month,earliest_credit,credit_length_days
0,NaN,NaN,5525,5525,5525.0,36 months,10.72%,180.15,B,B2,...,NaN,NaN,NaN,NaN,NaN,2018-12-01,2018,12,1998-10-01,7366
1,NaN,NaN,10000,10000,10000.0,36 months,10.08%,323.05,B,B1,...,NaN,NaN,NaN,NaN,NaN,2018-10-01,2018,10,2015-09-01,1126
2,NaN,NaN,12000,12000,12000.0,60 months,10.08%,255.44,B,B1,...,NaN,NaN,NaN,NaN,NaN,2018-10-01,2018,10,2003-06-01,5601
3,NaN,NaN,20000,20000,20000.0,36 months,6.46%,612.62,A,A1,...,NaN,NaN,NaN,NaN,NaN,2018-11-01,2018,11,2005-02-01,5021
4,NaN,NaN,12000,12000,12000.0,36 months,7.02%,370.64,A,A2,...,NaN,NaN,NaN,NaN,NaN,2018-12-01,2018,12,2008-02-01,3956
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,NaN,NaN,20000,20000,20000.0,36 months,10.33%,648.45,B,B1,...,NaN,NaN,NaN,NaN,NaN,2018-12-01,2018,12,2000-01-01,6909
29996,NaN,NaN,35000,35000,35000.0,60 months,6.11%,678.44,A,A1,...,NaN,NaN,NaN,NaN,NaN,2018-10-01,2018,10,1985-09-01,12083
29997,NaN,NaN,10000,10000,9975.0,60 months,25.34%,295.51,E,E3,...,NaN,NaN,NaN,NaN,NaN,2018-10-01,2018,10,2007-12-01,3957
29998,NaN,NaN,16000,16000,16000.0,60 months,7.84%,323.20,A,A4,...,NaN,NaN,NaN,NaN,NaN,2018-10-01,2018,10,2008-04-01,3835
29999,NaN,NaN,6400,6400,6400.0,36 months,13.56%,217.38,C,C1,...,NaN,NaN,NaN,NaN,NaN,2018-12-01,2018,12,1991-04-01,10106

<details>
<summary style="display:list-item">Answer </summary>
    loans['credit_length_days'] = (loans['issue_date'] - loans['earliest_credit']).dt.days


</details>

- Divide the credit length in days by 365.25 (don't forget leap year!) and save the result as a column called `credit_length_years`.

In [36]:
loans["credit_length_years"] = (loans["credit_length_days"] / 365.25)
loans

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,settlement_date,settlement_amount,settlement_percentage,settlement_term,issue_date,issue_year,issue_month,earliest_credit,credit_length_days,credit_length_years
0,NaN,NaN,5525,5525,5525.0,36 months,10.72%,180.15,B,B2,...,NaN,NaN,NaN,NaN,2018-12-01,2018,12,1998-10-01,7366,20.167009
1,NaN,NaN,10000,10000,10000.0,36 months,10.08%,323.05,B,B1,...,NaN,NaN,NaN,NaN,2018-10-01,2018,10,2015-09-01,1126,3.082820
2,NaN,NaN,12000,12000,12000.0,60 months,10.08%,255.44,B,B1,...,NaN,NaN,NaN,NaN,2018-10-01,2018,10,2003-06-01,5601,15.334702
3,NaN,NaN,20000,20000,20000.0,36 months,6.46%,612.62,A,A1,...,NaN,NaN,NaN,NaN,2018-11-01,2018,11,2005-02-01,5021,13.746749
4,NaN,NaN,12000,12000,12000.0,36 months,7.02%,370.64,A,A2,...,NaN,NaN,NaN,NaN,2018-12-01,2018,12,2008-02-01,3956,10.830938
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,NaN,NaN,20000,20000,20000.0,36 months,10.33%,648.45,B,B1,...,NaN,NaN,NaN,NaN,2018-12-01,2018,12,2000-01-01,6909,18.915811
29996,NaN,NaN,35000,35000,35000.0,60 months,6.11%,678.44,A,A1,...,NaN,NaN,NaN,NaN,2018-10-01,2018,10,1985-09-01,12083,33.081451
29997,NaN,NaN,10000,10000,9975.0,60 months,25.34%,295.51,E,E3,...,NaN,NaN,NaN,NaN,2018-10-01,2018,10,2007-12-01,3957,10.833676
29998,NaN,NaN,16000,16000,16000.0,60 months,7.84%,323.20,A,A4,...,NaN,NaN,NaN,NaN,2018-10-01,2018,10,2008-04-01,3835,10.499658
29999,NaN,NaN,6400,6400,6400.0,36 months,13.56%,217.38,C,C1,...,NaN,NaN,NaN,NaN,2018-12-01,2018,12,1991-04-01,10106,27.668720

<details>
<summary style="display:list-item">Answer </summary>
     loans['credit_length_years'] = loans['credit_length_days']/365.25

</details>

Use the .max() function to determine the longest credit history in years.

In [37]:
loans["credit_length_years"].max()

68.91444216290212

<details>
<summary style="display:list-item">Answer </summary>
     loans['credit_length_years'].max()

</details>